{% load static %}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!--saque 1-->
</head>
<body>
    <!--saque 2-->
    <div>
        <h1><a href="/">Blog Mechi</a></h1>
    </div>
    <!--saque 3-->

   <!-- Lista de publicaciones -->

   <div>
    {% for publicacion in publicaciones %}
    <p>Publicado: {{ publicacion.fecha_publicacion }} por autor/a: {{ publicacion.autor.username }} </p>
    <h2> <a href=""> {{publicacion.titulo}} </a> </h2>
    <p> {{ publicacion.texto|linebreaksbr }} </p>
    <hr>    
    {% endfor %}
   </div>
</body>
</html>